<phpunit bootstrap="./../vendor/autoload.php" colors="true">
    <php>
        <env name="KERNEL_CLASS" value="Tests\Functional\AppKernel" />
    </php>

    <testsuites>
        <testsuite name="DMMenuBundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
