<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         displayDetailsOnAllIssues="true"
>
    <testsuites>
        <testsuite name="DMMenuBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <source ignoreSuppressionOfDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <env name="KERNEL_CLASS" value="Tests\Functional\AppKernel" />
    </php>
</phpunit>
